.jumbotron {
  float: center;
  text-align: left;
  font-size: 98px;
}
.img {
  float: left;
  width: 12%;
}
.sidebar {
  width: 12%;
  float: left;
  background-color: lightgrey;
  border: 8px;
  padding: 4px;
  margin-right: 6px;



}

.columnl {
  width: 400px;
  float: left;
}

.columnr {
  width: 300px;
  float: left;
}

.my-classh {
  padding: 4px;
  background-color: #b3ffcc;
}

.my-classb {
  padding: 4px;
  background-color: #e6ffee;
}

.my-classhr {
  padding: 4px;
  background-color: #cce6ff;
}

.my-classbr {
  padding: 4px;
  background-color: #e6f3ff;
}

.top {
  float: center;
}
